<template>
  <H2 class="header">Personvernerklæring</H2>

  <ul>
    <li>
      Vi respekterer ditt privatliv og er forpliktet til å beskytte din personlige informasjon.
    </li>
    <li>
      Vi samler inn personlig informasjon fra deg når du bruker nettstedet vårt, for eksempel navn
      og e-postadresse.
    </li>
    <li>Vi bruker denne informasjonen til å gi deg våre tjenester og forbedre nettstedet vårt.</li>
    <li>Vi deler ikke din personlige informasjon med tredjeparter uten ditt samtykke.</li>
    <li>
      Vi tar rimelige skritt for å beskytte din personlige informasjon mot uautorisert tilgang og
      bruk.
    </li>
    <li>
      Du har rett til å få tilgang til, oppdatere eller slette din personlige informasjon når som
      helst.
    </li>
  </ul>
</template>

<style>
.header {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
</style>
