<template>
  <H2 class="headern">Vilkår og betingelser</H2>

  <ul>
    <li>Ved å bruke dette nettstedet godtar du disse vilkårene og betingelsene.</li>
    <li>Du må være minst 13 år gammel for å bruke dette nettstedet.</li>
    <li>Du kan ikke bruke dette nettstedet for ulovlige eller uautoriserte formål.</li>
    <li>Du er ansvarlig for all aktivitet som skjer under kontoen din.</li>
    <li>
      Vi forbeholder oss retten til å endre eller avslutte nettstedet når som helst uten varsel.
    </li>
    <li>Vi er ikke ansvarlige for tap eller skade som følge av din bruk av nettstedet.</li>
    <li>Vi kan avslutte tilgangen din til nettstedet når som helst av hvilken som helst grunn.</li>
  </ul>
</template>

<style>
.headern {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
</style>
