@import "./base.css";

body {
  margin: 0;
  padding: 0;
  --el-color-primary: lightseagreen;
}

main {
  padding: 2rem 3rem;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
  margin: 0;
  width: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }
}
